html,body{
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #ddd;
    width: 100%;
    height: 150px;
}

header h2, footer h2{
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50px;
}

header div.imgContainer, footer div.imgContainer{
    width: 100px;
    padding: 10px;
    float: left;
}

footer .copyright{
    float: left;
    font-size: 12px;
    padding: 10px;
}

footer nav a.fa{
    font-size: 50px;
}

header img, footer img{
    border-radius: 50px;
    width: 100%;
}

nav{
    float: right;
}

nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: #333;
    background-color: transparent;
    transition: all 2s;
}

nav a:hover{
    background-color: #777;
    color: #fff;
}

nav a.selected{
    background-color: #55adab;
    color: #fff;
}

/* Main Content */
#mainContent{
    clear: both;
    max-width: 800px;
    margin: auto;
    width: 800px;
}
.contentImage{
    width: 20%;
    margin: 10px;
    float: left;
}

.contentImage img{
    width: 100%;
}

.contentImage.image-right{
    float: right;
}

#mainContent.services h2{
    transform: rotate(-90deg);
    position: relative;
    left: -500px;
    top: -190px;
}

section:nth-child(odd){
    background-color: aliceblue;
    padding: 10px;
}